:root {
  --neutral-light: #f5f5f5;
  --neutral-medium: #e0e0e0;
  --neutral-dark: #333333;

  --red-light: #ff6f61;
  --red-medium: #ff1c00;
  --red-dark: #d40000;

  --blue-light: #2d9cdb;
  --blue-medium: #0073e6;
  --blue-dark: #0052b7;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--neutral-light);
  padding: 0;
  margin: 0;
  height: 100vh;
}

main {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  background: var(--neutral-light);
  outline: none;
  font-size: 1rem;
}

h1,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.item-card-container,
nav,
.filter-form,
.cart-main {
  width: 100%;
  max-width: 1200px;
}

.stock-wallet-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.stock-btn,
.wallet,
.cart {
  height: 40px;
  padding: 0 20px;
}

.wallet,
.cart {
  border: 1px solid var(--neutral-dark);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--neutral-dark);
  display: flex;
  align-items: center;
}

.cart {
  position: relative;
}

.cart-notification {
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: 25px;
  height: 25px;
  border-radius: calc(25px / 2);
  background: var(--blue-light);
  border: 1px solid var(--blue-dark);
  color: var(--neutral-light);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.item-card {
  border: 1px solid var(--neutral-dark);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item-title-container {
  width: 100%;
  padding: 5px 0;
  background: var(--neutral-medium);
  color: var(--neutral-dark);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.item-title-container h3 {
  text-align: center;
  font-size: 1.5rem;
}

.item-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.item-icon {
  font-size: 5rem;
  text-align: center;
}

.item-card-btn {
  width: 100%;
  font-weight: 500;
  font-size: 1.2rem;
  transition: 0.2s;
}

.item-card-btn:hover {
  transition: 0.2s;
  background: var(--red-light);
  border-color: var(--red-dark);
}

.stock-btn {
  width: unset;
  display: flex;
  align-items: center;
}

.item-card-btn:active {
  transition: 0.2s;
  transform: scale(0.95);
}

.mix-icon {
  font-size: 3rem;
}

.items-words-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.blue-container {
  background: var(--blue-medium);
  border: 1px solid var(--blue-dark);
  border-radius: 10px;
  color: var(--neutral-light);
}

.price {
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--neutral-dark);
  margin-top: auto;
}

.item-name {
  border: 1px solid var(--neutral-dark);
  padding: 0 3px;
  border-radius: 5px;
}

.item-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex {
  display: flex;
  gap: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.include-exclude {
  flex-grow: 1;
}

.filter-words {
  flex-wrap: wrap;
}

.w-unset {
  width: unset;
}

.red-hover {
  transition: 0.2s;
}

.red-hover:hover {
  transition: 0.2s;
  background: var(--red-light);
  border: 1px solid var(--red-dark);
  color: var(--neutral-light);
}

.center {
  width: 100%;
  justify-content: center;
}

.cart-main {
  margin-top: 50px;
  border: 1px solid var(--neutral-dark);
  border-radius: 10px;
}

.cart-main h1 {
  background: var(--blue-medium);
  color: var(--neutral-light);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0 10px;
}

.cart-item-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item-line {
  width: 100%;
  height: 1px;
  background: var(--neutral-medium);
}

.cart-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.purchase-container div {
  font-size: 1.3rem;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .item-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .item-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .item-card-container {
    grid-template-columns: 1fr;
  }

  .cart-item-info {
    flex-direction: column;
    padding: 10px 0;
  }
}
